spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: service-a
              uri: http://localhost:8081
              predicates:
                - Path=/service-a/**
            - id: service-b
              uri: http://localhost:8082
              predicates:
                - Path=/service-b/**

server:
  port: 8080
