spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: service-a
              uri: lb://SERVICEA
              predicates:
                - Path=/service-a/**
            - id: service-b
              uri: lb://SERVICEB
              predicates:
                - Path=/service-b/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8080
